@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 768px) {
h1,
.h1 {
  font-size: 20px;
}

h2,
.h2 {
  font-size: 20px;
}
.navbar .container{
	padding:0;	
}
.leftmain{
	margin:0;	
}
}
@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}
