/* Responsive Styles */
@media (max-width: 480px) {
.pagination ul li.previous > a,  .pagination ul li.next > a,  .pagination ul li.previous > span,  .pagination ul li.next > span {
	margin-right: 0;
}
}
@media (min-width: 768px) {
.lead {
font-size: 2.1rem;
}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {

}

@media (max-width: 768px) {
.container > .navbar-header, .container > .navbar-collapse {
margin: 0;
}
h1,
.h1 {
font-size: 2rem;
}
h2,
.h2 {
font-size: 2rem;
}
h2.white {
font-size: 1.8rem;
}
h5,
.h5 {
  font-size: 1.2rem;
}
.navbar .container{
	padding:0;	
}
.rightmain-outer{
	padding:0;
}
.leftmain-outer{
	padding:0;
}
.rightmain{
	border: none;
	border-radius:0;
}
.leftmain{
	border: none;
	border-radius:0;
}
.leftmain .nav-tabs > li > a {
padding: 1rem 1.4rem;
}
.form-control {
	padding: 0 1.2rem 0 4rem;
	margin: 0.2rem 0;
	height: 4.4rem;
}
.form-control + .input-icon {
	top: 0.7rem;
	left: 0.8rem;
	vertical-align: middle;
	font-size: 2.2rem;
	padding: 0 1.2rem 0 0;
}
.select-block-outer:first-child{
	padding-bottom: 1.2rem;	
}
.select-block-outer{
	padding: 0;	
}

.select.select-block {
	margin: 0;
}
.select .btn, .select .btn:hover, .select .btn:focus {
	margin:0;
	padding: 0.9rem 0.8rem 0.9rem 0.5rem;
}
.select .btn .glyphicon, .select .btn:hover .glyphicon, .select .btn:focus .glyphicon {
top: -0.2rem;
left: 0.3rem;
}
.select .btn .filter-option {
	left: -14.4rem;
	overflow: visible ;
	position: absolute;
	top: 1rem;
}
.select .btn .caret-outer {
background: #2793D3;
position: absolute;
top: 0.2rem;
right: 0.2rem;
padding: 1.9rem;
}
.select .btn .caret {
	position: absolute;
	right: 1.2rem;
	margin-top: 0.2rem;
}
.help-block {
	display: block;
	margin: 0 0 0 0.5rem;
}
.radio-outer{
	padding-top: 0.5rem;
}
.switch-outer{
	padding: 0;
	margin: 0 0 1rem 0;
}
.switch-word {
font-size: 1.2rem;
padding: 0 0 0 0.5rem;
top: -0.5rem;
}
.outbound-product .nav > li{
	width:7.1rem;
	padding:0;
}
.outbound-product .nav > li > a{
	padding:0;
}
.outbound-product .nav > li > a > img {
	width:7.1rem;
}
}
@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
 .tile.tile-hot:before {
 background-image: url(../image/tile/ribbon-2x.png);
}
 .todo li {
 background-image: url(../image/todo/todo-2x.png);
}
 .todo li.todo-done {
 background-image: url(../image/todo/done-2x.png);
}
 .login {
 background-image: url(../image/login/imac-2x.png);
}
}
@-webkit-keyframes sharp {
 0% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 50% {
 background: #ebedee;
 border-radius: 0;
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);
}
 100% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@-webkit-keyframes sharp {
 0% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 50% {
 background: #ebedee;
 border-radius: 0;
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);
}
 100% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@-moz-keyframes sharp {
 0% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 50% {
 background: #ebedee;
 border-radius: 0;
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);
}
 100% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@-o-keyframes sharp {
 0% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 50% {
 background: #ebedee;
 border-radius: 0;
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);
}
 100% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@keyframes sharp {
 0% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 50% {
 background: #ebedee;
 border-radius: 0;
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);
}
 100% {
 background: #e74c3c;
 border-radius: 1rem;
 -webkit-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {

}